In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

Data Cleaning

In [10]:
survey = pd.read_csv(os.path.join( 'Resources', 'Survey_Data.csv'))
survey.head()

,ID,age,Num_kids,Education,pre_employment_Status,partnered,mat_leave,mat_leave_eligability,CCS_eligability,help,returned
0,1,33,1,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,Yes,Yes - Scheduled help,Yes
1,2,32,1,Tertiary education ( University or TAFE or equ...,Part time work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,No,NaN
2,3,33,1,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",Yes,Yes - Unpaid (excludes govt Maternity pay),No,Yes- As needed help,NaN
3,4,38,3,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,No,Yes,Yes- As needed help,Yes
4,5,54,2,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,No,No,No

In [6]:
survey = survey.dropna(subset =["returned"])
survey

,ID,age,Num_kids,Education,pre_employment_Status,partnered,mat_leave,mat_leave_eligability,CCS_eligability,help,returned
0,1,33,1,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,Yes,Yes - Scheduled help,Yes
3,4,38,3,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,No,Yes,Yes- As needed help,Yes
4,5,54,2,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,No,No,No
5,6,38,2,High School diploma,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,Yes,No,Yes
6,7,41,1,High School diploma,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...
108,109,54,4,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,Yes- As needed help,Yes
110,111,42,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,Yes- As needed help,Yes
111,112,37,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",Yes,Yes- with some paid leave provided by Employer,Yes,Yes- As needed help,Yes
112,113,58,3,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,No,Yes
113,114,30,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes - Unpaid (excludes govt Maternity pay),Yes,Yes- As needed help,Yes

In [11]:
survey = survey[survey.mat_leave != "Yes"]
survey

,ID,age,Num_kids,Education,pre_employment_Status,partnered,mat_leave,mat_leave_eligability,CCS_eligability,help,returned
0,1,33,1,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,Yes,Yes - Scheduled help,Yes
1,2,32,1,Tertiary education ( University or TAFE or equ...,Part time work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,No,NaN
3,4,38,3,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,No,Yes,Yes- As needed help,Yes
4,5,54,2,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,No,No,No
5,6,38,2,High School diploma,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...
108,109,54,4,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,Yes- As needed help,Yes
109,110,30,2,Tertiary education ( University or TAFE or equ...,Casual work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,Yes- As needed help,NaN
110,111,42,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,Yes- As needed help,Yes
112,113,58,3,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,No,Yes
113,114,30,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes - Unpaid (excludes govt Maternity pay),Yes,Yes- As needed help,Yes