In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

DATA SURVEY

In [3]:
survey = pd.read_csv(os.path.join( 'Resources', 'Cleaned_Survey_slimmed.csv'))
survey.head()

,ID,age,Num_kids,Education,pre_employment_Status,partnered,mat_leave,mat_leave_eligability,CCS_eligability,help,returned
0,6,36,2,Tertiary education ( University or TAFE or equ...,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,Yes- As needed help,Yes
1,10,33,1,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,Yes,Yes - Scheduled help,Yes
2,11,32,1,Tertiary education ( University or TAFE or equ...,Part time work,"Partner ( Husband/Wife, De-facto partner)",No,No,No,No,No
3,13,38,3,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,No,Yes,Yes- As needed help,Yes
4,14,54,2,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,No,No,No

In [4]:
survey.columns

Index(['ID', 'age', 'Num_kids', 'Education', 'pre_employment_Status',
       'partnered', 'mat_leave', 'mat_leave_eligability', 'CCS_eligability',
       'help', 'returned'],
      dtype='object')

In [5]:
# Assign X (data) and y (target)

X = survey[["age", "Num_kids", "Education", "pre_employment_Status", "partnered", "mat_leave_eligability", "CCS_eligability", "help"]]
y = survey["returned"].values.reshape(-1, 1)
print(X.shape, y.shape)

(40, 8) (40, 1)

In [6]:

X = pd.get_dummies(X)

X

,age,Num_kids,Education_High School diploma,Education_Master's or Doctorate,Education_None,Education_Tertiary education ( University or TAFE or equivalent),pre_employment_Status_Casual work,pre_employment_Status_Full time work,pre_employment_Status_Part time work,"partnered_Partner ( Husband/Wife, De-facto partner)",partnered_Single,mat_leave_eligability_No,mat_leave_eligability_Yes - Unpaid (excludes govt Maternity pay),mat_leave_eligability_Yes- with some paid leave provided by Employer,CCS_eligability_No,CCS_eligability_Yes,help_No,help_Yes - Scheduled help,help_Yes- As needed help
0,36,2,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1
1,33,1,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,1,0
2,32,1,0,0,0,1,0,0,1,1,0,1,0,0,1,0,1,0,0
3,38,3,0,0,0,1,0,1,0,0,1,1,0,0,0,1,0,0,1
4,54,2,0,0,0,1,0,1,0,0,1,0,0,1,1,0,1,0,0
5,38,2,1,0,0,0,0,1,0,1,0,0,0,1,0,1,1,0,0
6,41,1,1,0,0,0,0,1,0,1,0,0,0,1,1,0,1,0,0
7,44,2,0,0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
8,40,1,1,0,0,0,0,0,1,1,0,0,0,1,0,1,1,0,0
9,35,3,1,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0
10,36,1,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1
11,41,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1
12,36,2,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0
13,33,2,0,0,0,1,0,0,1,0,1,1,0,0,0,1,0,0,1
14,35,2,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,0,1
15,38,1,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0
16,36,2,0,0,0,1,0,0,1,1,0,0,0,1,0,1,1,0,0
17,64,2,0,1,0,0,0,1,0,1,0,0,0,1,1,0,1,0,0
18,31,2,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0
19,63,2,0,1,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0
20,35,1,0,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,0
21,37,1,0,1,0,0,0,1,0,1,0,0,0,1,1,0,1,0,0
22,35,2,1,0,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0
23,41,2,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1
24,65,4,0,1,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1
25,39,3,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,0,1
26,36,2,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0
27,33,1,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0
28,46,3,0,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,0
29,39,1,0,0,0,1,0,1,0,1,0,0,1,0,0,1,1,0,0
30,45,2,0,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,0
31,43,3,0,0,0,1,0,1,0,1,0,0,0,1,0,1,1,0,0
32,30,1,0,0,0,1,0,1,0,1,0,0,0,1,0,1,0,0,1
33,25,2,0,0,0,1,0,1,0,1,0,0,1,0,0,1,1,0,0
34,61,3,0,0,1,0,0,1,0,1,0,1,0,0,1,0,1,0,0
35,50,3,1,0,0,0,0,1,0,1,0,0,1,0,1,0,1,0,0
36,42,1,0,0,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0
37,32,2,0,0,0,1,0,1,0,1,0,0,0,1,1,0,0,0,1
38,36,2,0,0,0,1,0,1,0,1,0,0,0,1,1,0,1,0,0
39,30,2,0,0,0,1,1,0,0,1,0,1,0,0,1,0,0,0,1

Split our data into training and testing

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

Create a Logistic Regression Model

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

Fit (train) or model using the training data

In [9]:
classifier.fit(X_train, y_train)

LogisticRegression()

Validate the model using the test data

In [10]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8
Testing Data Score: 0.8

Make predictions

In [11]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'Yes']
First 10 Actual labels: [['Yes'], ['No'], ['No'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['No'], ['Yes']]