In [15]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

DATA SURVEY

In [16]:
survey = pd.read_csv(os.path.join( 'Resources', 'Cleaned_Survey.csv'))
survey.head()

,ID,age,Num_kids,Education,pre_employment_Status,partnered,mat_leave,mat_leave_eligability,CCS_eligability,help,returned
0,1,33,1,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,Yes,Yes - Scheduled help,Yes
1,4,38,3,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,No,Yes,Yes- As needed help,Yes
2,5,54,2,Tertiary education ( University or TAFE or equ...,Full time work,Single,No,Yes- with some paid leave provided by Employer,No,No,No
3,6,38,2,High School diploma,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,Yes,No,Yes
4,7,41,1,High School diploma,Full time work,"Partner ( Husband/Wife, De-facto partner)",No,Yes- with some paid leave provided by Employer,No,No,Yes

In [17]:
survey.columns

Index(['ID', 'age', 'Num_kids', 'Education', 'pre_employment_Status',
       'partnered', 'mat_leave', 'mat_leave_eligability', 'CCS_eligability',
       'help', 'returned'],
      dtype='object')

In [18]:
# Assign X (data) and y (target)

X = survey[["age", "Num_kids", "Education", "pre_employment_Status", "partnered", "mat_leave_eligability", "CCS_eligability", "help"]]
y = survey["returned"].values.reshape(-1, 1)
print(X.shape, y.shape)

(86, 8) (86, 1)

In [19]:

X = pd.get_dummies(X)

X

,age,Num_kids,Education_High School diploma,Education_Master's or Doctorate,Education_None,Education_Tertiary education ( University or TAFE or equivalent),pre_employment_Status_Casual work,pre_employment_Status_Full time work,pre_employment_Status_Part time work,pre_employment_Status_Unemployed,"partnered_Partner ( Husband/Wife, De-facto partner)",partnered_Single,mat_leave_eligability_No,mat_leave_eligability_Yes - Unpaid (excludes govt Maternity pay),mat_leave_eligability_Yes- with some paid leave provided by Employer,CCS_eligability_No,CCS_eligability_Yes,help_No,help_Yes - Scheduled help,help_Yes- As needed help
0,33,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0
1,38,3,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,1
2,54,2,0,0,0,1,0,1,0,0,0,1,0,0,1,1,0,1,0,0
3,38,2,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,1,0,0
4,41,1,1,0,0,0,0,1,0,0,1,0,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,33,3,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1
82,54,4,0,0,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,1
83,42,2,0,0,0,1,0,1,0,0,1,0,0,0,1,1,0,0,0,1
84,58,3,0,0,0,1,0,1,0,0,1,0,0,0,1,1,0,1,0,0
85,30,2,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1

Split our data into training and testing

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

Create a Logistic Regression Model

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

Fit (train) or model using the training data

In [26]:
classifier.fit(X_train, y_train)

LogisticRegression()

Validate the model using the test data

In [27]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.921875
Testing Data Score: 0.9090909090909091

Make predictions

In [28]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes']
First 10 Actual labels: [['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['Yes']]